:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  background: var(--cream);
}

img {
  width: 100%;
}

/* General Styles*/
.container {
  max-width: 540px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* Expense Card */
.expense-card {
  width: 34.5rem;
}

/* Expense Card Header */
.expense-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--soft-red);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.expense-card-header .balance-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.expense-card-header .balance-details small {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0.5rem;
}

.expense-card-header .balance-details p {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
}

.expense-card-header img {
  width: 6rem;
}

/* Expense Card Body */
.expense-card-body {
  background: var(--very-pale-orange);
  padding: 2rem;
  border-radius: 1rem;
}

.expense-card-body h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.expense-card-body .days {
  height: 18rem;
  display: flex;
  align-items: end;
  margin-bottom: 2rem;
}

.expense-card-body .days .day {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-card-body .days .day:not(:last-child) {
  margin-right: 1rem;
}

.expense-card-body .days .day p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--medium-brown);
}

.expense-card-body .days .day .bar-wrapper {
  width: 3.3rem;
}

.expense-card-body .days .day .bar-wrapper div {
  background: black;
  color: #fff;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
  visibility: hidden;
}
.expense-card-body .days .day .bar-wrapper:hover div {
  visibility: visible;
}

.expense-card-body .days .day .bar-wrapper div p {
  color: #fff;
}

.expense-card-body .days .day .bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense-card-body .days .day .bar-wrapper .bar {
  display: block;
  width: 3rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
}

.expense-card-body .days .day .bar-wrapper .bar:hover {
  opacity: 0.7;
}

.expense-card-body .days .day.monday .bar-wrapper .bar {
  height: 5.1rem;
  background: var(--soft-red);
}
.expense-card-body .days .day.tuesday .bar-wrapper .bar {
  height: 8.9rem;
  background: var(--soft-red);
}
.expense-card-body .days .day.wednesday .bar-wrapper .bar {
  height: 15rem;
  background: var(--cyan);
}
.expense-card-body .days .day.thursday .bar-wrapper .bar {
  height: 8.9rem;
  background: var(--soft-red);
}
.expense-card-body .days .day.friday .bar-wrapper .bar {
  height: 6.7rem;
  background: var(--soft-red);
}
.expense-card-body .days .day.saturday .bar-wrapper .bar {
  height: 12.4rem;
  background: var(--soft-red);
}
.expense-card-body .days .day.sunday .bar-wrapper .bar {
  height: 7.5rem;
  background: var(--soft-red);
}

.border-bottom {
  width: 97%;
  height: 2px;
  background: var(--cream);
  margin-bottom: 2rem;
}

/* Summary */
.summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-stats-left p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--medium-brown);
  margin-bottom: 0.5rem;
}

.summary-stats-left span {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-brown);
}

.summary-stats-right p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-brown);
  text-align: right;
  margin-bottom: 0.5rem;
}

.summary-stats-right span {
  color: var(--medium-brown);
  font-weight: 400;
  font-size: 1.5rem;
}
